*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html{
  scroll-behavior: smooth;
}


header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to right bottom, #0c0646, #000f3f, #001133, #001125, #000f17, #000e15, #000c14, #000b12, #000c1c, #000b25, #00082d, #080232);
  top: 0;
  position: sticky;
  z-index: 1;
}

.logo {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.logo img {
  width: 100%;
  height:100%;
  cursor: pointer;
  background-size: cover;
  margin-bottom: 5px;
}

.navbar {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 9px;
  padding: 3px;
  transition: all 0.3s;
  cursor: pointer;
}


.navbar ul li a {
  text-transform: uppercase;
  color: white;
  font-size: 15px;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

.navbar ul li:hover {
  border-bottom: 1px solid red;
}



/* Primera seccion */
.first-section{
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
  background-image: url(img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow:hidden;
}

.left-section{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.tittle-car{
  width: 80%;
  font-size: 25px;
  color: white;
}

.btns{
  width: 80%;
  height: 40px;
  margin-top: 45px;
  display: flex;
  align-items: center;
}

.btns button {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 18px;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.60);
  color: white;
}

.btns button:hover {
  color: rgba(218, 6, 6, 0.945)
  
}


.image-section{
  width: 50%;
  height: 90%;
  display: flex;
  justify-content:center;
  align-items: center;
  margin-top: 80px;
  position: relative; 
  right: -50%;
  transition: all 0.6s;
  animation: driftCar 3s linear 2s forwards;
}


.image-section img{
  width: 100%;
  height: 300px;
  margin-top: 35px;
  position: relative;
 
  
}

@keyframes driftCar {
  from{
    right: -50%;
  }
  to{
    right:-0% ;
  }
}





/* Segunda seccion */
.second-section{
  width: 70%;
  height: 500px;
  margin: 60px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.30);
  background-color: white;
  z-index: 10;
}

.second-section .empresa {
  width: 40%;
  height: 100%;
}

.second-section .empresa img{
  width: 100%;
  height: 100%;
}




.about-us {
  width: 65%;
  height: 75%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.text {
  font-size: 15px;
  color: black;
  font-family:Arial, Helvetica, sans-serif;
}

.about-tittle{
  display: flex;
  justify-content: center;
  font-family: 'Staatliches', cursive;
  font-size: 30px;
}

.about-us .text a{
  text-decoration: none;
}

.logos{
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.second-section .about-us .logos img{
  width: 60px;
  height: 70px;
  filter: grayscale(80%);
  cursor: pointer;
  transition: all 0.5s;
  
}

.second-section .about-us .logos img:hover{
  filter: grayscale(0%);
}


/* Tercera seccion */

.third-section {
  width: 80%;
  height: 620px;
  margin: 60px auto;
  padding: 20px;
  border:none;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.title-section {
  width: 40%;
  font-size: 30px;
  font-family: 'Staatliches', cursive;
  letter-spacing: 1pt;
  margin: auto;
  display: flex;
  justify-content: center;
}

.third-section .presentation p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 18px;
}


.cards-container{
  display: flex;
  justify-content: space-around;
  margin-top: 60px;

}

.card{
  width: 200px;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.50);
  transition: all 0.5s;
}

.card:hover {
  transform: translateY(-5%);
}


.img-card {
  width: 100%;
  height: 180px;
  border-bottom: 2px solid black;
  border-radius: 15px 15px 0 0;
}


.card .info-card{
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
  padding: 5px;
}

.card .info-card p{
  
  margin: 10px 10px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}


.btn-cont {
  width: 100%;
  margin-top: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border:none;
}


.btn-cont button {
  width: 140px;
  height:50px;
  align-items: center;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 5px;
  transition: all 0.3s;
}


.btn-cont button:hover {
  background-color:#15154e; 
}





/* Contacto */
.contact-container {
  width: 100%;
  height: 580px;
  display: flex;
  flex-direction: column;
  
}

.title-contact {
  width: 50%;
  margin: 15px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 25px;
  font-family: 'Staatliches', cursive;
  letter-spacing: 1pt;
}

.data{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.formulario {
  width: 40%;
  height: 480px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background: linear-gradient(rgba(5,7,12,0.65),rgba(5,7,12,0.65)),url(img/form-back.jpg);
  background-size:100%  100%;
  background-repeat: no-repeat;
  
}




.formulario input {
  margin-top: 30px;
  width: 200px;
  padding: 7px;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  background-color: rgba(5,7,12,0.95);
  color: white;
}


textarea {
  color: white;
  width: 50%;
  margin: auto;
  height: 150px;
  resize: none;
  font-size: 16px;
  border: 2px solid black;
  outline: none;
  padding: 5px;
  background-color: rgba(5,7,12,0.95);
}

.formulario input:focus, textarea:focus {
  border: 2px solid white;
}

.btn-form {
  width: 18%;
  padding: 10px;
  margin:auto;
  transition: all 0.3s;
  cursor: pointer;
  border: 2px solid black;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: rgb(8, 8, 8);
  color: white;
}


.btn-form:hover {
  
  border: 2px solid rgb(27, 185, 27);
}


.contact {
  width: 30%;
  height:480px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info {
  width: 100%;
  height: 245px;
  background-image: linear-gradient(to right bottom, #0d0332, #0c042f, #0b052d, #0a062a, #090727, #09082b, #080a2f, #060b33, #010c3f, #000c4b, #000957, #040462);
  border: 2px solid black;
}

.mapa {
  width: 100%;
  height: 230px;
}

.mapa iframe {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info h3 {
  color: white;
  font-size: 20px ;
  margin: 14px 20px;
}

.icono {
  display: flex;
  align-items: center;
  margin-left: 16px;
  margin-bottom: 10px;
}

.icono i {
  color: white;
  padding: 6px;
  background-color: black;
  border-radius: 50%;
  font-size: 16px;
}

.icono .fa-location-dot {
  padding: 7px;
}
.icono p {
  margin-left: 5px;
  color: white;
  font-size: 18px;
}

.social-media {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 12px;
  margin-bottom: 5px;
}
.social-media i {
  color: white;
  font-size: 22px;
  
}


/* Footer */

footer {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
}

.info-footer {
  width: 20%;
  padding: 5px;
}

footer .info-footer h3 {
  width: 100%;
  text-transform: uppercase;
  font-size: 13px;
  padding: 5px;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .info-footer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .info-footer ul li{
  list-style: none;
  margin-top: 5px;
}

footer .info-footer ul li a{
  
  color: white;
  font-size: 13px;
  text-decoration: none;
  padding: 5px;
  transition: all 0.3s;

}

footer .info-footer ul li a:hover {
  color: rgb(179, 173, 173);
}



.pay{ 
  width: 20%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  
}

.pay h3 {
  width: 190px;
  text-transform: uppercase;
  font-size: 13px;
  padding: 5px;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-card{ 
  display: flex;
  justify-content: center;
  width: 185px;
  margin-top: 5px;
}

.visa{
  width: 62px;
  height: 62px;
 
}

.master {
  width: 85px;
  height: 60px;
}

.exp {
  width: 60px;
  height: 60px;
}
.download {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
}

.download h3 {
  margin-top: 5px;
  text-transform: uppercase;
  font-family: 'Permanent Marker', cursive;
  font-size: 28px;
  letter-spacing: 1px;
  cursor: pointer;
}

.download .play {
  width: 100px;
  height: 50px;
}


.apple {
  width: 90px;
  height: 32px;
  margin-bottom: 9px;
}

