*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html{
  scroll-behavior: smooth;
}

/* body {
  background:linear-gradient(180deg, #000003 30%, #70717d 100%);
}
 */


header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right,black, rgb(51, 50, 50));
  top: 0;
  position: sticky;
  z-index: 1;
}

.logo {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.logo img {
  width: 100%;
  height:100%;
  cursor: pointer;
  background-size: cover;
  margin-bottom: 5px;
}

.navbar {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 9px;
  padding: 3px;
  transition: all 0.3s;
  cursor: pointer;
}


.navbar ul li a {
  text-transform: uppercase;
  color: white;
  font-size: 15px;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

.navbar ul li:hover {
  border-bottom: 1px solid red;
}



/* Primera seccion */
.first-section{
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
  background-image: url(img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
}

.left-section{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.tittle-car{
  width: 80%;
  font-size: 25px;
  color: white;
}

.btns{
  width: 80%;
  height: 40px;
  margin-top: 45px;
  display: flex;
  align-items: center;
}

.btns button {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 18px;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.60);
  color: white;
}

.btns button:hover {
  color: rgba(218, 6, 6, 0.945)
  
}


.image-section{
  width: 50%;
  height: 90%;
  display: flex;
  justify-content:center;
  align-items: center;
  margin-top: 80px;

}

.image-section img{
  width: 100%;
  height: 300px;
  margin-top: 35px;
}



/* Segunda seccion */
.second-section{
  width: 70%;
  height: 500px;
  margin: 60px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.30);
  background-color: white;
  z-index: 10;
}

.second-section .empresa {
  width: 40%;
  height: 100%;
}

.second-section .empresa img{
  width: 100%;
  height: 100%;
}




.about-us {
  width: 65%;
  height: 75%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.text {
  font-size: 15px;
  color: black;
  font-family:Arial, Helvetica, sans-serif;
}

.about-tittle{
  display: flex;
  justify-content: center;
  font-family: 'Staatliches', cursive;
  font-size: 30px;
}

.about-us .text a{
  text-decoration: none;
}

.logos{
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.second-section .about-us .logos img{
  width: 60px;
  height: 70px;
  filter: grayscale(80%);
  cursor: pointer;
  transition: all 0.5s;
  
}

.second-section .about-us .logos img:hover{
  filter: grayscale(0%);
}


.third-section {
  width: 100%;
  height: 500px;
  background-color: antiquewhite;
  margin: 100px auto;
  display: flex;
  justify-content: space-around;
  
  
}

.card{
  width: 200px;
  height: 350px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}



.info-card{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  padding: 5px;
}

.info-card p {
  width: 90%;
  

}